<!-- <!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogify</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <%- include('index.ejs') %>
</body>

</html> -->

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogify</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <nav>
        <a href="/">خانه</a>
        <a href="/about">درباره ما</a>
    </nav>

    <main>
        <%- include(body) %> <!-- اینجا محتوای هر صفحه قرار می‌گیرد -->
    </main>
</body>

</html>